python==3.11.3
altair==5.0.1
jupyterlab==4.0.1
matplotlib==3.7.1
pandas==2.0.2
seaborn==0.12.2
python-dotenv==1.0.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.15
missingno==0.5.2
json5==0.9.24
keras==3.3.3
matplotlib==3.7.1
numpy==1.26.4
plotly==5.20.0
scikit-learn==1.2.2
streamlit==1.38.0
tensorflow==2.16.1
geopy==2.4.1